<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    bootstrap="./bootstrap.php" 
    backupGlobals="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    strict="true"
>
    <testsuites>
        <testsuite name="phpunit">
            <directory>./Unit</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
</phpunit>
